*{
    margin:0px;
}
body{
    background-color: beige;
}
#cen{
    position:relative;
    margin:auto;
    width:0px;
    height: 100vh;
}
#main{
    font-size:65px;
    transform:translate(-50%,0);
    position:absolute;
    width:600px;
    top:10%;
    text-align: center;
    font-family: ‘Noto Sans TC’, sans-serif;
    font-weight: 600;
}
#button{
    position:relative;
    left:50%;
    transform:translate(-50%);
    background-color:grey;
    width:fit-content;
}
input{
    width:150px;
    font-size: 70px;
    
}
#result{
    text-align: center;
    font-size:53px;
    position:absolute;
    top:50vh;
    width:600px;
    transform:translate(-50%);
    font-weight: 600;
}
#end{
    text-align: center;
    font-size:47px;
    position:relative;
    top:90vh;
    transform:translate(-50%);
    font-weight:600;
    width:100px;
    background-color: rgb(177, 0, 0);
}